.sidebar-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 20px;
}