.btn-body{
    border-radius: 20px;
    color:  var(--btn-menu-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease;
}

.btn-body.active{
    background-color: var(--btn-menu-color-bg--active);
    color: var(--white);
    transform: scale(1.05);
}

.btn-body:hover{
    color: var(--white);
}

.btn-title{
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}

